body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
/* carousel img  */
section .carousel-inner img{
    height: 545px;
}
/* carousel text  */
.carousel-caption.d-none.d-md-block {
    margin-bottom: 190px;
}
section .img-div{
    border: 1px solid #ddd;
}
section .img-div img{
    border: 3px transparent ;
}